#AnchorPaneHeader{
    -fx-background-color:  #ed2b2b;
    -fx-border-color: #323232; 
    -fx-border-width: 0px 0px 1px 0px;
}

#AnchorPaneMonitor{
    -fx-border-color: #f0f0f0; 
    -fx-border-width: 0px 0px 0px 1px;
}

#AnchorPaneFooter{
    -fx-background-color: #323232;
}

#AnchorPaneFooter .label{
    -fx-font-size: 11px;
}

#OtherTrans, #TransButtons{
    -fx-background-color: #323232;
    -fx-border-color: #f0f0f0; 
    -fx-border-width: 0px 1px 0px 0px;
}

#OtherTrans .label{
    -fx-font-size: 12px;
}

#btnOther{
    -fx-background-color:  #323232;
}

#btnOther01, #btnOther02, #btnOther03, #btnOther04, #btnOther05,
#btnOther06, #btnOther07, #btnOther08, #btnOther09, #btnOther10,
#btnOther11{
    -fx-border-width: 0px 0px 0px 0px;
    -fx-border-radius: 0px;
    -fx-border-color: #d2d9e2;
    -fx-background-radius: 0px;
    -fx-background-color: #323232;
    -fx-text-fill: #ffffff;    
    -fx-font-size: 12px;
}

#btnOther01:hover, #btnOther02:hover, #btnOther03:hover, #btnOther04:hover, #btnOther05:hover,
#btnOther06:hover, #btnOther07:hover, #btnOther08:hover, #btnOther09:hover, #btnOther10:hover,
#btnOther11:hover{
    -fx-background-color: #2c2c2c;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.label, .button, .textfield{
    -fx-font-family: "Verdana";
}


