#lblOrderNo{
    -fx-font-weight: bold;
}

#lblTransSummary{
    -fx-font-weight: bold;
    -fx-font-size: 11px;   
}


#cmbOrder{
    -fx-background-color: #ebebeb;
}

.label{
    -fx-font-size: 11px;   
}